@import "_mixins";

body {
  background: #F2F2F2;
}

@font-face {
  font-family: 'Barlow';
  src: url("../fonts/Barlow-Medium.ttf");
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces_9pt/Fraunces_9pt-Regular.ttf");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow';
  font-style: normal;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include xl {
    max-width: 1440px;
  }

  @include lg {
    max-width: 960px;
  }

  @include md {
    max-width: 720px;
  }

  @include sm {
    max-width: 690px;
  }

  @include col {
    max-width: 355px;
  }
}

header {
  .section-header {
    padding: 44px 0;

    img {
      cursor: pointer;
      transition: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .burger {
      display: none;
    }

    ul {
      gap: 33px;

      li {
        list-style: none;
        transition: 1s;

        &:hover {
          color: #333D4B;
          transform: translate(5px, 5px);
        }

        a {
          text-decoration: none;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.923077px;
          text-transform: uppercase;
          color: #83888F;
        }
      }
    }
  }
}

// sectioin-intro__first-page

.section-intro__first-page {

  .intro__first-page {
    background-image: url("../images/lg-first-page/lg-first-page__intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    h1 {
      font-weight: 900;
      font-size: 72px;
      line-height: 72px;
      color: #FEFCF7;
      padding-left: 85px;
      padding-top: 117px;
      padding-bottom: 32px;
      font-family: "Fraunces 9pt";
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      mix-blend-mode: normal;
      opacity: 0.8;
      padding-left: 85px;
      padding-bottom: 56px;
    }

    button {
      background: #0E8784;
      margin-left: 85px;
      border-radius: 6px;
      margin-bottom: 116px;
      padding: 15px 31px;
      border: none;
      font-weight: 900;
      font-size: 18px;
      line-height: 25px;
      color: #FEFCF7;
      font-family: "Fraunces 9pt";
      cursor: pointer;
      transition: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// section-collection__first-page

.collection {

  .section-collection {
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%), url("../images/lg-first-page/our collection.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 136px;

    .collection-info {
      text-align: center;
      padding-top: 240px;

      div {
        transition: 1s;

        &:hover {
          transform: scale(1.1);
        }
      }

      .espresso-text,
      .planalto-text,
      .picollo-text,
      .danche-text {
        margin-top: 71px;


        h3 {
          font-family: 'Fraunces 9pt';
          font-weight: 900;
          font-size: 24px;
          line-height: 32px;
          color: #333D4B;
          text-transform: capitalize;
          padding-bottom: 24px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #333D4B;
          width: 255px;
        }
      }
    }
  }
}

// section-about

.about {
  padding-top: 200px;
  padding-bottom: 200px;

  .section-about {
    border-radius: 10px;
    background-image: url("../images/lg-first-page/Bitmap.png");
    background-repeat: no-repeat;
    background-size: contain;

    .about-subtitle {
      text-align: center;
      color: #FEFCF7;
      padding-top: 100px;

      h1 {
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
      }

      p {
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        opacity: 0.8;
        margin-top: 32px;
      }
    }

    .about-cards {
      margin-left: 85px;
      margin-right: 60px;
      text-align: center;

      .about-card__seed,
      .about-card__box,
      .about-card__truck {
        margin-right: 30px;
        background: #0E8784;
        margin-top: 86px;
        border-radius: 8px;

        .card-header {
          padding-top: 72px;
          padding-bottom: 56px;
        }

        .card-body {

          h2 {
            font-family: 'Fraunces 9pt';
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #FEFCF7;
            margin-bottom: 24px;
          }

          p {
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            margin: 0 48px;
            padding-bottom: 48px;
          }
        }
      }
    }
  }
}

//section-number

.number {
  padding-left: 100px;
  padding-bottom: 200px;

  .section-number {
    padding-left: 40px;

    .number-subtitle {

      h3 {
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        padding-bottom: 80px;
      }

      .subtitle-oval {
        padding-bottom: 67px;

        .oval-1 {
          position: relative;
          left: 425px;
        }

        .oval-2 {
          position: relative;
          left: 859px;
        }

        .line {
          position: absolute;
          padding-left: 33px;
          padding-top: 15px;
          width: 960px;
        }
      }
    }

    .number-cards {

      .cards-01,
      .cards-02,
      .cards-03 {
        padding-bottom: 64px;

        .cards-header {

          h1 {
            color: #FDD6BA;
            font-family: 'Fraunces 9pt';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            padding-bottom: 38px;
          }

          h2 {
            font-family: 'Fraunces 9pt';
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: #333D4B;
            width: 50%;
            padding-bottom: 42px;
          }
        }

        .cards__body {

          p {
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            width: 78%;
          }
        }
      }
    }

    button {
      font-family: 'Fraunces 9pt';
      font-weight: 900;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #FEFCF7;
      background: #0E8784;
      border-radius: 6px;
      border: none;
      padding: 16px 31px;
      cursor: pointer;
    }
  }
}

// footer

footer {
  padding-bottom: 88px;

  .section-footer {
    background: #2C343E;
    padding: 47px 85px;

    nav {

      ul {
        padding-right: 290px;

        li {
          list-style: none;
          transition: 1s;

          &:hover {
            transform: translate(5px, 5px);
          }

          a {
            text-decoration: none;
            font-family: 'Barlow';
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.923077px;
            text-transform: uppercase;
            color: #83888F;
            padding-right: 33px;
          }
        }
      }
    }

    .footer-socials {
      padding-left: 24px;

      a {
        padding-right: 24px;
      }
    }
  }
}



// second-page

.section-intro__second-page {
  padding-bottom: 168px;

  .intro-second {
    background-image: url("../images/lg-second-page/intro-second__bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    h1 {
      font-family: 'Fraunces 9pt';
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #FEFCF7;
      padding-top: 137px;
      padding-left: 85px;
      padding-bottom: 24px;
    }

    p {
      font-family: 'Barlow';
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      padding-left: 85px;
      width: 38%;
      padding-bottom: 137px;
    }
  }
}

// intro-second__page

.section-coffee__second-page {
  padding-bottom: 168px;

  .section-coffee {

    .coffee-with__man {
      padding-left: 85px;

      img {
        border-radius: 10px;
      }

      .coffee-man__text {
        padding-left: 125px;

        h2 {
          font-family: 'Fraunces 9pt';
          font-weight: 900;
          font-size: 40px;
          line-height: 48px;
          color: #333D4B;
        }

        p {
          width: 65.1%;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #333D4B;
          opacity: 0.8;
          padding-top: 32px;
        }
      }
    }

    .coffee-glass {
      background: #2C343E;
      margin-top: 244px;
      padding-bottom: 88px;
      border-radius: 10px;

      .coffee-glass__text {
        padding-left: 85px;

        h2 {
          font-family: 'Fraunces 9pt';
          font-weight: 900;
          font-size: 40px;
          line-height: 48px;
          color: #FEFCF7;
          padding-top: 95px;
          padding-bottom: 32px;
        }

        p {
          max-width: 72%;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #FEFCF7;
          opacity: 0.8;
        }
      }

      img {
        padding-right: 85px;
        margin-top: -88px;
        border-radius: 10px;
      }
    }
  }
}

// section-country__second-page

.section-country__second-page {
  padding-bottom: 168px;

  .section-country {

    h2 {
      font-family: 'Fraunces 9pt';
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #83888F;
      padding-left: 125px;
      padding-bottom: 72px;
    }

    .country-info {

      h1 {
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
        padding-top: 45px;
        padding-bottom: 24px;
      }

      p {
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
      }
    }
  }
}


// section-intro__third-page 

.section-intro__third-page {
  margin-bottom: 177px;

  .intro-third__page {
    background-image: url("../images/lg-third-page/Bitmap.png");
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
      font-family: 'Fraunces 9pt';
      font-weight: 900;
      font-size: 72px;
      line-height: 72px;
      color: #FEFCF7;
      padding-top: 134px;
      padding-left: 85px;
      margin-bottom: 32px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      opacity: 0.8;
      max-width: 34%;
      margin-left: 85px;
      padding-bottom: 134px;
    }
  }
}

// section-plan__third-page

.section-plan__third-page {
  padding-bottom: 159px;

  .plan-arrow {
    background: #2C343E;
    border-radius: 10px;
    padding-left: 85px;

    .plan-arrow__info {
      padding-bottom: 96px;

      h1 {
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        padding-top: 67px;
        padding-bottom: 38px;
      }

      h2 {
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #FEFCF7;
        padding-bottom: 42px;
        max-width: 45%;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        max-width: 65%;
      }
    }

    .plan-arrow__line {
      position: relative;
      padding-bottom: 83px;

      img {
        position: absolute;
        top: 105px;
        width: 910px;
      }
    }

    .plan-arrow__circle {
      position: relative;

      img {
        position: absolute;
        top: 7px;
      }

      .oval-03 {
        left: 910px;
      }

      .oval-02 {
        left: 470px;
      }
    }
  }
}

// sectioin-cards__third-page

.sectioin-cards__third-page {
  margin-bottom: 168px;

  .section-cards {

    .cards-small {


      hr {
        opacity: 0.25;
      }

      span {
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-right: 24px;
      }

      h2 {
        padding: 24px 0;
        margin-right: 30px;
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        opacity: 0.6;
        color: #333D4B;
        transition: 1s;
        cursor: pointer;

        &:hover {
          color: #333D4B;
          opacity: 1;
          transform: scale(1.1);

          span {
            color: #0E8784;
          }
        }
      }
    }

    .cards-info {

      .card-info {
        padding-bottom: 80px;

        h1 {
          font-family: 'Fraunces 9pt';
          font-weight: 900;
          font-size: 40px;
          line-height: 48px;
          color: #83888F;
          padding-bottom: 56px;

          img {
            padding-left: 80px;
          }
        }
      }

      .card-info__text {

        .info-grey {
          background-color: #edebe7;
          border-radius: 10px;
          margin-right: 23px;
          transition: 1s;
          cursor: pointer;

          &:hover {
            background: #0E8784;
            border-radius: 8px;
            transform: translate(10px, 10px);

            h3 {
              color: #FFFFFF;
            }

            p {
              color: #FEFCF7;
            }
          }

          h3 {
            font-family: 'Fraunces 9pt';
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: #333D4B;
            padding-top: 32px;
            padding-left: 28px;
            padding-bottom: 24px;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #333D4B;
            padding-left: 28px;
            max-width: 80%;
            padding-bottom: 84px;
          }
        }
      }

      .card-order {
        background-color:
          #2C343E;

        h2 {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-transform: uppercase;
          color: #FFFFFF;
          mix-blend-mode: normal;
          opacity: 0.5;
          padding-top: 27px;
          padding-left: 64px;
        }

        p {
          font-family: 'Fraunces 9pt';
          font-weight: 900;
          font-size: 24px;
          line-height: 40px;
          color: #FFFFFF;
          padding-left: 64px;
          max-width: 78%;
          padding-bottom: 27px;

          span {
            color: #0E8784;
          }
        }
      }

      button {
        font-family: 'Fraunces 9pt';
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        padding: 15px 32px;
        margin-top: 40px;
      }
    }
  }
}