
@import "_styles.scss";
@import "_mixins";



header {
  
  .section-header {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
    }
  }
}

// sectioin-intro__first-page

.section-intro__first-page {

  .intro__first-page {

    @include sm {
      background-image: url("../images/responsive-laptop/Bitmap.png");
      background-size: contain;
    }

    h1 {
      @include sm {
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        max-width: 329px;
        padding-left: 58px;
        padding-top: 104px;
      }
    }
  }
}

// section-collection__first-page

.collection {

  .section-collection {

    .collection-info {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

// section-about

.about {

  .section-about {

    .about-subtitle {
      
    }

    .about-cards {
      display: flex;
      justify-content: space-evenly;
      flex: 33%;

      .about-card__seed, .about-card__box,
      .about-card__truck {
        flex: 1;
      }
    }
  }
}

//section-number

.number {

  .section-number {

    .number-subtitle {

      .subtitle-oval {
        
      }
    }

    .number-cards {
      display: flex;
    }
  }
}

// footer

footer {

  .section-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {

      ul {
        display: flex;
      }
    }
  }
}



// second-page

.section-coffee__second-page {

  .section-coffee {
    
    .coffee-with__man {
      display: flex;
      justify-content: space-around;
    }
    
    .coffee-glass {
      display: flex;
      justify-content: space-around;
    }
  }
}

// section-country__second-page

.section-country__second-page {

  .section-country {
    width: 87%;

    .country-info {
      display: flex;
      justify-content: space-around;
    }
  }
}



// section-plan__third-page

.section-plan__third-page {

  .plan-arrow {

    .plan-arrow__info {
      display: flex;
    }
  }
}

// sectioin-cards__third-page

.sectioin-cards__third-page {

  .section-cards {
    display: flex;
    justify-content: space-between;
    margin-left: 85px;
    margin-right: 85px;
    
    .cards-small {
      max-width: 38%;
    }

    .cards-info {
      max-width: 62%;
      
      .card-info {
        display: flex;
        flex-direction: column;

        .card-info__text {
          display: flex;
        }
      }
    }
  }
}